// AddProdutoForm.scss
@use '../../assets/sass/variables.scss' as *;

.produto-form-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    // background: #d9f82b;
    min-height: 100vh;

}

.produto-form {
    border: 5px solid $color-primary;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    padding: 35px;
    max-height: 750px;
    border-radius: 14px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

    h2 {
        margin-bottom: 30px;
        color: $color-primary;
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bolder;
        border-bottom: 1px solid #cacaca;
        padding-bottom: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
            margin-bottom: 8px;
            font-weight: 600;
            color: #444;
        }


    }

    input,
    textarea,
    select {
        box-sizing: border-box;
        padding: 12px 14px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        font-size: 15px;
        //outline: none;
        transition: 0.2s;
        background: #fff;
        border-color: $color-primary;

        &:focus {
            border-color: #3b82f6;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
        }
    }

    textarea {
        resize: vertical;
        min-height: 120px;
        height: 100%;
    }

    .grid-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .grid-3 {
        display: flex;
        // flex-wrap: wrap;
        //  gap: 20px;
        gap: 10px;
        flex-shrink: 1;
        margin-bottom: 20px;
        //overflow: hidden;
        //background-color: #3b82f6;
    }


    .form-group-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;
        padding: 10px;

        border: 2px solid rgb(223, 223, 223);
        overflow: hidden;
        // min-width: 100px;

        label {

            width: 100%;
            padding: 0px !important;
            margin-bottom: 5px;
            //margin: 0px !important;
            //background-color: red !important;
            //        max-width: 25%;
        }

        input {

            margin: 0px !important;

            max-width: 100%;
            text-align: center;
        }
    }

    .checkbox-group {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;

        label {
            font-weight: 600;
            color: #444;
        }

        input {
            width: 18px;
            height: 18px;
        }
    }

    button {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 8px;
        background: $color-primary;
        color: white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            //background: adjust($color-primary, 50%, 50%)
        }
    }
}

.preco-custo {
    color: red;
}

.preco-venda {
    color: rgb(4, 109, 0);
}

@media (max-width: 768px) {

    .produto-form {

        .grid-2 {
            grid-template-columns: 1fr;
        }
    }
}