@use '../../assets/sass/variables.scss' as *;

#root {
    width: 100%;
    width: 100%;
    height: 100vh;
    // background: linear-gradient(135deg, #6e4242, #ffffff);
    background: #0f0f0f;
    background: #0e1214 url("../../assets/img/bg-login-3.png");

    display: flex;
    align-items: center;
    justify-content: center;
}

body {}

#bg-login {
    border-radius: 15px;
    background-color: $color-primary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    figure {
        margin: 40px 0;

        img {
            max-width: 100px;
            height: auto;
        }
    }
}

.formulario {
    background: #fff;
    padding: 40px 40px;
    border-radius: 0 0 10px 10px;
    width: 450px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    h2 {
        text-align: center;
        margin-bottom: 25px;
        color: $color-primary;
    }

    hr {
        margin-top: 20px;
        border: none;
        height: 1px;
        background: #eee;
    }
}

.card-user {
    position: relative;
    margin-bottom: 25px;

    input {
        width: 100%;
        padding: 10px 8px;

        border: none;
        border-bottom: 2px solid #ccc;

        outline: none;
        font-size: 16px;

        transition: 0.3s;

        &:focus {
            border-bottom: 2px solid $color-primary;
        }

        &:focus+label,
        &:valid+label {
            top: -10px;
            left: 5px;

            font-size: 12px;
            color: $color-primary;
        }
    }

    label {
        position: absolute;
        top: 10px;
        left: 8px;

        color: #999;
        font-size: 14px;

        pointer-events: none;
        transition: 0.3s;
    }
}

.forget {
    display: block;
    text-align: right;

    font-size: 13px;
    color: $color-primary;

    text-decoration: none;
    margin-bottom: 20px;

    &:hover {
        text-decoration: underline;
    }
}

.btn-entrar {
    width: 100%;
    padding: 12px;

    background: $color-primary;
    border: none;
    border-radius: 8px;

    color: #fff;
    font-size: 16px;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #7d1d36;
    }
}