@use './_reset.scss';
@use "./variables" as *;
//$color-base: blue;




@font-face {
    font-family: Fonte-Principal;
    src: url('./src/assets/fonts/OpenSans-Regular.ttf');
    font-display: swap;
}


html,
body {
    background: $color-secondary !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    font-family: Fonte-Principal, Arial, Helvetica, sans-serif;



}



#root {
    display: flex;
    flex: 1;
    background: transparent !important;

    #app {
        display: flex;
        // flex-direction: column;
        flex: 1;
        // background-color: $color-secondary;

        #container {
            display: flex;
            flex-direction: column;
            flex: 1;
            background-color: #33ff00;
            // padding: 40px;

            flex: 1;
            /* ocupa o espaço disponível */
            // border: 5px solid rgb(68, 68, 68);


            main {
                width: var(--width-container);
                margin: 0 auto;
                background-color: #ffffff;
                min-height: 100%;
                box-shadow: 0px 0px 10px #333;
                box-sizing: border-box !important;

            }

        }

        .pages {
            box-sizing: border-box !important;
            flex: 1;
            width: 100%;
            background-color: #eef5ff;
            //  margin: 0 auto;
            padding: 40px;

            // border: 2px solid yellow;
            h1 {
                // background-color: #333;
                text-align: center;
                color: #c9c8c8;
                font-size: 22px;
                text-transform: uppercase;
                padding: 20px;
                // border-radius: 5px;
                border-bottom: 1px solid #dddddd;
            }
        }

    }
}





.flex-item {
    flex: 1;
    display: flex;
    /* background-color: rgb(236, 236, 236); */
}







footer {
    height: 80px;
    padding: 20px;
    background-color: $color-primary;

}

@media (max-width: 768px) {

    .pages {

        padding: 0px !important;
        //  padding: 140PX !important;

        max-width: 100% !important;

        //display: flex;
        // .view-table {
        //     //display: none;
        //     max-width: 100% !important;
        //     font-size: 12px !important;
        // }

    }

    form {
        padding: 40px !important;
    }


}

@media (max-width: 400px) {

    .pages {


        // max-width: 390px !important;
        //  padding-right: 10PX !important;

        //display: flex;
        // .view-table {
        //     //display: none;
        //     max-width: 100% !important;
        //     font-size: 12px !important;
        // }

    }

    form {
        padding: 40px !important;
    }


}