<header>
    <div id="header-center">
        <div class="flex-item">
            <figure id="bg-logos">
                <img src="./assets/img/logo.png" />
            </figure>
        </div>
        <div class="flex-item">
            <h1>Gerenciador de Estoque</h1>


        </div>
        <div class="flex-item">

            <nav>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Sobre</a></li>


                </ul>


            </nav>
        </div>


    </div>
</header>